@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(to top, #ff0000, #ff6347);
}
.container{
  width: 60%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  text-align: center;
}

.container .card{
  background-color: #f2f2f2;
  box-shadow: 10px  20px 40px #9f9f9f;
  padding: 2rem;
  border-radius: 1rem;
}

.container .card .color-inputs{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container .card .color-inputs input[type="color"]{
  width: 100px;
  height: 50px;
}

.container .card .gradient-orientation {
  display: flex;
  margin: 1rem 0;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;

}

.container .card .gradient-orientation button{
  margin: 0 1rem;
  background-color: #ffff;
  padding: 1rem;
}

.container .card .gradient-orientation button.active{
  
  background-color: #ddd;
  
}

.container .card .gradient-orientation button:hover{
  cursor: pointer;
  
}

.container .card .gradient-text{
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  border: solid 1px #ddd;
  border-radius: 0.5rem;
  font-size: 1.4rem;
}

.container .card .gradient-text button.btncopy{
  background: none;

  border: none;
  cursor: pointer;

}